[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all
	ne = commit -a --no-edit --amend
	ha = config --get-regexp alias; help with alias
[core]
	editor = nvim

[user]
	email = 9586974+w-tr@users.noreply.github.com
	name = wtr
[pager]
	log = more
	branch = false
